<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mlingdu.sdk">
    <application>
        <activity android:name=".activity.FdkAACActivity"/>
        <activity android:name=".activity.AudioHwEncoderActivity"/>
    </application>
</manifest>